.Fitness{
    .Header h5{
        color: black;
        font-size: 24px;
        padding-top: 20px;
        padding-left: 20px;
    };

    .Dates{
        align-items: center;
        flex: content;
        color: #4C97E1;
        ;
        height: 500px;
        display: flex;
    }

    .Day{
        color :aliceblue;
    }

    .TheDate{
          color :aliceblue;

    }

    .ShowHabits{


    }


    .Card{

        align-items: center;
        display: flex;
        flex:center;
        background-color: #4C97E1;
    }

}