.Fitness{
    .Header h5{
        color: black;
        font-size: 24px;
        padding-top: 20px;
        padding-left: 20px;
    };

    .Dates{
        align-items: center;
        flex: content;
        display: flex;
    }

    .Day{
        
    }

    .TheDate{


    }

    .ShowHabits{


    }


    .Card{

        align-items: center;
        display: flex;
        flex:center;

    }

}